section#collection-home
  .collection-infor
    h2.collection-title Bộ sưu tập của shop
    p.collection-desc
      | Đánh thức phong cách của bạn với những thiết kế thời trang tinh tế, biểu tượng cho sự tự tin và cá tính riêng
  .img-collection
    .banner-left
      a(href=homePage.featuredCategories[0].link ) 
        img(src=homePage.featuredCategories[0].image alt=homePage.featuredCategories[0].name )
    .banner-right
      a(href=homePage.featuredCategories[1].link) 
        img(src=homePage.featuredCategories[1].image alt=homePage.featuredCategories[1].name )
      a(href=homePage.featuredCategories[2].link) 
        img(src=homePage.featuredCategories[2].image alt=homePage.featuredCategories[2].name )
  // Button Khám phá bộ sưu tập
  a.btn.home-col(href="/products") Khám phá bộ sưu tập
